id=xxxxx@gmail.com
pass=xxxxxx
urls="https://moneyforward.com/bs/xxxxx,https://moneyforward.com/accounts/yyyyy,https://moneyforward.com/cf" # 取得するページを , 区切りで記載
refresh_xpaths="xxxxxxxx,xxxxxxxx" # https://moneyforward.com に表示される金融機関等の[更新]ボタンのXPATHを , 区切りで記載
START_SLEEP=20
