sbi_user=xxxxxxxxxx
sbi_pass="yyyyyyyyy"
BUCKET_URL="https://s3.ap-northeast-1.wasabisys.com"
BUCKET_NAME="hoge-system-stg-bucket"
BUCKET_DIR="fetcher/sbi"
AWS_REGION="ap-northeast-1"
AWS_ACCESS_KEY_ID="xxxxxxxxxxxxx"
AWS_SECRET_ACCESS_KEY="yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"
